

<!DOCTYPE html>

<html>

    <head>

        <title> PHP FIND DATA </title>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body background="bgm.jpg">
	
	<h1 style="font-size:90px;text-align:center;color:red;font-family:Garamond">Marriage Bureau</h1>
	
	

    <form style="font-size:30px;text-align:center;color:black"action="marriage2.php" method="post">

        Age:<input type="text" name="age"><br><br>
		
		
	    Gender:<input type="text" name="gender"<br><br><br>
		
		
		<input type="submit" name="search" value="Find Your Match"><br>
		
		

           </form>
		   
		   
		   <p style="text-align:center;font-size:50px;"id="demo" onclick="myFunction()">Click To Register</p>


<script>
function myFunction() {
    window.open("marriage3.php");
}
</script>

		   
		   
		   
		  
		   
		   

    </body>

</html>
